.header {
    background: #333;
    color: #FFF;
    font-size: :20px;
    text-align: center;
    padding: 20px 0;
}

.navigation {
    background: #DDD;
    color: #676767;
    text-align: center;
}
